@media screen and (min-width:1200px){
    .warp{
        width: 300px;
        height: 450px;
        margin:  0 auto;
        position: relative;
    }
    .my-img{
        width: 300px;
        height: 450px;
        position: absolute;
        
        /* border: 1px solid hotpink;
        font-size: 28px;
        color: hotpink;
        line-height: 200px;
        text-align: center; */
        background: url(../images/3.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 10px;
    }
    /* .fonttext:hover{
        opacity: .6;
    } */
    .my-shadow{
        width: 300px;
        height: 450px;
        border-radius: 10px;
        position: absolute;
        z-index: 2;
        background: rgb(0,0,0,.6);
        display: none;
        color:white;
        font-family: '楷体';
        text-align: center;

    }
}